<h3>Deposits By Users (<%= @presenter.date_filter_string %>)</h3>

<ul>
  <% @presenter.depositors.each do |usr| %>
      <% if usr[:user].present? %>
        <li>
          <a href="<%= sufia.profile_path(usr[:key]) %>" title="View user's profile"><%= usr[:user].name %></a>
          deposited <%= pluralize(usr[:deposits], "file") %>
        </li>
      <% else %>
        <li>
          <%= usr[:key] %> deposited <%= pluralize(usr[:deposits], "file") %>
        </li>
      <% end %>
  <% end %>
</ul>